<!DOCTYPE html>
<meta charset="utf-8" />
<meta http-equiv="Content-Security-Policy" content="script-src 'self';">
<title>{{ title || "(untitled)" }} - @{{ handle }}</title>
{{ if subtitle }}
  <meta name="description" content="{{ subtitle }}" />
{{ /if }}
<link rel="stylesheet" href="/styles.css" />

<!-- rendered from at://{{ did }}/com.whtwnd.blog.entry/{{ rkey }} -->

<main>
  {{ content }}
</main>
